In [1]:
import pandas as pd

In [14]:
X = pd.read_csv('../data/X.csv', index_col='Unnamed: 0')
y = pd.read_csv('../data/y.csv', index_col='Unnamed: 0')

In [2]:
full = pd.read_csv('../archived/parsed_data_truncated_v1.csv')

In [12]:
full.is_mp.value_counts()

True     31939
False      228
Name: is_mp, dtype: int64

In [11]:
full[full.id == 3524]

,Unnamed: 0,id,is_mp,density,H,He,Li,Be,B,C,...,W,Re,Os,Ir,Pt,Au,Hg,Tl,Pb,Bi
23039,23039,3524,True,2.874445,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32118,32118,3524,False,3.162682,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
y['is_mp'] = full.is_mp

In [17]:
y = y[y.is_mp]

In [18]:
y

         Density  is_mp
0       1.935039   True
1       6.064410   True
2      13.343942   True
3       4.937886   True
4      11.035294   True
...          ...    ...
31934   7.196625   True
31935   8.117297   True
31936   8.157901   True
31937   8.593083   True
31938   8.688206   True

[31939 rows x 2 columns]

In [20]:
X['is_mp'] = full.is_mp
X = X[X.is_mp]

In [23]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [35]:
X

,MagpieData minimum Number,MagpieData maximum Number,MagpieData range Number,MagpieData mean Number,MagpieData avg_dev Number,MagpieData mode Number,MagpieData minimum MendeleevNumber,MagpieData maximum MendeleevNumber,MagpieData range MendeleevNumber,MagpieData mean MendeleevNumber,...,Cm,Bk,Cf,Es,Fm,Md,No,Lr,NComp,is_mp
0,55.0,55.0,0.0,55.000000,0.000000,55.0,5.0,5.0,0.0,5.000000,...,0,0,0,0,0,0,0,0,1,True
1,33.0,33.0,0.0,33.000000,0.000000,33.0,84.0,84.0,0.0,84.000000,...,0,0,0,0,0,0,0,0,1,True
2,72.0,72.0,0.0,72.000000,0.000000,72.0,45.0,45.0,0.0,45.000000,...,0,0,0,0,0,0,0,0,1,True
3,52.0,56.0,4.0,54.000000,2.000000,52.0,9.0,90.0,81.0,49.500000,...,0,0,0,0,0,0,0,0,2,True
4,16.0,72.0,56.0,53.333333,24.888889,72.0,45.0,88.0,43.0,59.333333,...,0,0,0,0,0,0,0,0,2,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31934,14.0,28.0,14.0,23.000000,4.500000,25.0,52.0,78.0,26.0,60.750000,...,0,0,0,0,0,0,0,0,3,True
31935,25.0,51.0,26.0,32.500000,9.250000,25.0,52.0,85.0,33.0,63.250000,...,0,0,0,0,0,0,0,0,3,True
31936,14.0,44.0,30.0,27.000000,8.500000,25.0,52.0,78.0,26.0,59.500000,...,0,0,0,0,0,0,0,0,3,True
31937,33.0,42.0,9.0,37.500000,4.500000,33.0,50.0,84.0,34.0,67.000000,...,0,0,0,0,0,0,0,0,2,True
31938,5.0,42.0,37.0,24.400000,15.520000,5.0,50.0,72.0,22.0,61.000000,...,0,0,0,0,0,0,0,0,3,True

In [4]:
def rename_ids(row):
    row.id = 'mp-' + str(row.id) if row.is_mp else 'mvc-' + str(row.id)
    return row

full = full.apply(rename_ids, axis=1)

In [5]:
pd.Series(full.id).to_csv('../data/ids.csv')